.owl-carousel .item{
    background: transparent;
    padding: 0px 0px;
    margin: 0px;
    color: blue;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    max-width: 350px;
    max-height: 280px;
  }